<li class="list-group-item">
  {{#if devour}}
   {{id}}. {{burger_name}}
    <button class="float-right change-devour btn btn-outline-danger btn-sm" data-id="{{id}}" data-devoured="{{devour}}">
      DEVOUR
    </button>
  {{else}}
    {{id}} {{burger_name}}
  {{/if}}
</li>